@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-50 text-stone-900 dark:bg-stone-950 dark:text-stone-100;
  }
}

:root {
  --color-primary: #C8102E;
  --color-secondary: #008C45;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}